In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

resampled_df = pd.read_parquet('../Data/feature_engineered_stroke_data.parquet')
resampled_df.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Male,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,9046,67.0,0,1,228.69,36.600000,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1
1,51676,61.0,0,0,202.21,28.893237,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
2,31112,80.0,0,1,105.92,32.500000,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1
3,60182,49.0,0,0,171.23,34.400000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1
4,1665,79.0,1,0,174.12,24.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1